body {
  margin: 0;
  padding: 0;
  color: #333;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: Palatino, Georgia, "Times New Roman", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  text-align: center;
}

::selection {
  color: #fff;
  background: #333;
}

.quote {
  margin: 100px 50px;
  font-size: 2em;
  text-align: left;
  display: none;
}

.quote .source {
  color: #777;
}
